# ========================
# Maven 빌드 산출물
# ========================
**/target/
**/*.war
**/*.jar
**/*.class
 
# ========================
# Eclipse 워크스페이스 설정
# ========================
.metadata/
**/.classpath
**/.project
**/.settings/
 
# ========================
# Tomcat 서버 설정 (Servers 폴더)
# ========================
Servers/
 
# ========================
# 운영체제 잡파일
# ========================
.DS_Store
Thumbs.db
 
# ========================
# 로그
# ========================
**/*.log
**/logs/